CTMS-SiteConnect/application_files/datatype/%7Burn%3Acom%3Aappian%3Atypes%3ACTMS%7DCTMS_SiteAccessView.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:CTMS"
  xmlns:tns="urn:com:appian:types:CTMS" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="CTMS_SiteAccessView">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">
        @Table(name="SITE_ACCESS_VIEW")
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Maps to SITE_ACCESS_VIEW]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="siteIdentifier" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="SITE_IDENTIFIER", columnDefinition="varchar(15)", unique=true) @Id</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="siteNumber" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="SITE_NUMBER", columnDefinition="varchar(30)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="protocolsNumber" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="PROTOCOLS_NUMBER", columnDefinition="varchar(30) NOT NULL")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="protocolIdentifier" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="PROTOCOL_IDENTIFIER", columnDefinition="varchar(15) NOT NULL")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="region" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="REGION", columnDefinition="varchar(30)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="regionIdentifier" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="REGION_IDENTIFIER", columnDefinition="varchar(15)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="siteStatus" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="SITE_STATUS", columnDefinition="varchar(30)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FirstName" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="FIRST_NAME", columnDefinition="varchar(50) NOT NULL")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LastName" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="LAST_NAME", columnDefinition="varchar(50) NOT NULL")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="investigatorIdentifier" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="INVESTIGATOR_IDENTIFIER", columnDefinition="varchar(15) NOT NULL")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="accountName" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ACCOUNT_NAME", columnDefinition="varchar(100) NOT NULL")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="accountIdentifier" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ACCOUNT_IDENTIFIER", columnDefinition="varchar(15) NOT NULL")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="plannedSubjects" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="PLANNED_SUBJECTS", columnDefinition="number(10)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="irbApprovalDate" nillable="true" type="xsd:date">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="IRB_APPROVAL_DATE", columnDefinition="DATE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="programName" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="PROGRAM_NAME", columnDefinition="varchar(50) NOT NULL")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="programIdentifier" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="PROGRAM_IDENTIFIER", columnDefinition="varchar(15) NOT NULL")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="protocolTitle" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="PROTOCOL_TITLE", columnDefinition="varchar(1000)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="earnedToDate" nillable="true" type="xsd:double">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="EARNED_TO_DATE", columnDefinition="number(22,7) NOT NULL")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="paidToDate" nillable="true" type="xsd:double">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="PAID_TO_DATE", columnDefinition="number(22,7) NOT NULL")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="contractAmount" nillable="true" type="xsd:double">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CONTRACT_AMOUNT", columnDefinition="number(22,7) NOT NULL")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="withholdingAmount" nillable="true" type="xsd:double">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="WITHHOLDING_AMOUNT", columnDefinition="number(22,7) NOT NULL")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="withholdingPercent" nillable="true" type="xsd:double">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="WITHHOLDING_PERCENT", columnDefinition="number(22,7) NOT NULL")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="siteInitiated" nillable="true" type="xsd:date">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="SITE_INITIATED", columnDefinition="Date")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="siteTerminated" nillable="true" type="xsd:date">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="SITE_TERMINATED", columnDefinition="Date")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="firstSubjectEnrolled" nillable="true" type="xsd:date">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="FIRST_SUBJECT_ENROLLED", columnDefinition="Date")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="lastSubjectOffStudy" nillable="true" type="xsd:date">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="LAST_SUBJECT_OFF_STUDY", columnDefinition="Date")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="numberScreened" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="NUMBER_SCREENED", columnDefinition="number(10)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="numberScreenFailed" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="NUMBER_SCREEN_FAILED", columnDefinition="number(10)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="numberRescreened" nillable="true" type="xsd:double">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="NUMBER_RESCREENED", columnDefinition="number(10)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="numberEnrolled" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="NUMBER_ENROLLED", columnDefinition="number(22,7)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="numberEarlyTerminated" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="NUMBER_EARLY_TERMINATED", columnDefinition="number(22,7)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="numberCompleted" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="NUMBER_COMPLETED", columnDefinition="number(22,7)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="numberRandomized" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="NUMBER_RANDOMIZED", columnDefinition="number(22,7)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="siteImage" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="SITE_IMAGE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="siteIcon" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="SITE_ICON")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="hasAccess" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="HASACCESS")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
